@model List<ProductModel>




<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Giá sản phẩm</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model){
     <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
        </tr>
}
       
    </tbody>
</table>